.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#techButton {
  position: absolute; top: 0px; left: 0px;
  z-index: 2;
}

#navIcon img {
  width: 50%;
  position: absolute;
  z-index:2;
}

#navIcon img:hover {
  /* filter: url(filters.svg#grayscale);  Firefox 3.5+*/
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* webkit nightlies & chrome canary */
}

#leaf {
  top: 40px;
  left: 10px;
}

#gear {
  top: 40px;
  left: 155px;
}

#hammer {
  top: 155px;
  left: 80px;
}

#navIcon {
  width: 300px;
  height: 300px;
  position: absolute; top: 0px; left: 0px;
  z-index: 1;
}

#navBar {
  width: 100%;
  height: 150px;
  margin: 75px 0 0 300px;
  background-color: rgba(0,0,0, 0.4);
}

#navBar li {
  color: rgba(0,0,0, 1.0);
}

#nav {
  width: 100%;
}
