.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------NAVIGATION------*/
#techButton {
  position: absolute; top: 0px; left: 0px;
  display: inline;
  z-index: 2;
}

#navIcon img {
  position: absolute;
  z-index:2;
}

#leaf {
  top: 13.333%;
  left: 3.333%;
}

#gear {
  top: 13.333%;
  left: 51.666%;
}

#hammer {
  top: 51.666%;
  left: 26.666%;
}

#navIcon {
  position: absolute; top: 0px; left: 0px;
  display: inline;
  z-index: 1;
}

#navBar li {
  color: rgba(0,0,0, 1.0);
}

#navBar ul {
  margin: 0;
  margin: 5px;
}

#nav {
  width: 100%;
  height: 250px;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 10px;
  max-width: 980px;
  position: fixed;
}

/*----------CONTENT-------------*/
.contentContainer {
  max-width: 980px;
  margin-left: 20px;
  padding-top: 150px;
}

.contentHeader {
  max-width: 800px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 25px;
  padding: 20px;
}

.contentHeader h1 {
  text-align: center;
  color: black;
}

.contentHeader p {
  text-align: center;
  color: black;
}

/*----------PROJECT CARDS--------*/
#projects {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 25px;
  padding: 10px;
}

#projects h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.projectCard {
  width: 200px;
  height: 400px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255,1.0);
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
  float: left;
}

.projectCard h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectCard .projectCardImg {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  border-bottom: 5px solid rgba(82,190,128, 1.0);
  align: center;
  background-color: rgba(50,50,50,1);
  width: 180px;
  height: 200px;
}

.projectCard p {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  max-height: 3.6em;
  font-size: 1.0em;
  overflow: hidden;
  position: relative;
}

/*------FOOTER-------*/
.footer {
  width: 61px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 5px;
}

.footer li {
  float: left;
  padding-left: 5px;
  padding-top: 5px;
  display: inline;
  list-style-type: none;
}

li.footer-logo img {
  width: 15px;
  height: 15px;
}
